body {
    background-color: #F5F5F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    max-width: 70vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #151B1F;
    padding: 20px;
    border-radius: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 180px 0;

}

.nav-item {
    color: #ffffff;
    text-decoration: none;
    padding: 0 25px;
    font-weight: 600;
}

.nav-item:hover {
    color: #00F9B8;
#f4f4f4    -webkit-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width:600px) {
    nav {
    
        -webkit-box-orient: vertical;
    
        -webkit-box-direction: normal;
    
        -ms-flex-direction: column;
    
        flex-direction: column;
        margin: 80px 0;
    }

    .nav-item {
        padding: 20px 30px;
    }

}
